<html>
<head>
<title>
IceWine
</title>
<link rel="stylesheet" href="/css/main.css"></script>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div class="main">
    <div>
      <img src="/images/icewine.png">
    </div>
    <div>
      <p>
        IceWine is a startup created in Lincoln, Nebraska for the purpose
        of developing websites, businesses, and creations
        that help the state of
        Nebraska. For more information, please
        <a href="mailto:trlemburg+icewine@gmail.com">email</a>.
      </p>
    </div>
    <div style="position: absolute; bottom: 5px; font-size: 8px;">
      Sorry if the page loaded slowly; it's running on a free
      heroku dyno so sometimes it takes a little bit to wake up.
    </div>
  </div>
</body>
</html>
