<html>
<head>
<title>
IceWine
</title>
<link rel="stylesheet" href="/css/main.css"></script>
</head>
<body>
  <div class="main">
    <div>
      <img src="/images/icewine.png">
    </div>
    <div>
      <p>
        IceWine is a startup created in Lincoln, Nebraska for the purpose
        of developing websites, businesses, and creations
        that help the state of
        Nebraska. For more information, please
        <a href="mailto:trlemburg+icewine@gmail.com">email</a>.
      </p>
    </div>
  </div>
</body>
</html>
