html {
  font-family: sans-serif;
}
body {
background: #5db3bf; /* Old browsers */
background: -moz-linear-gradient(top,  #5db3bf 0%, #f7f7f7 52%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5db3bf), color-stop(52%,#f7f7f7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5db3bf 0%,#f7f7f7 52%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5db3bf 0%,#f7f7f7 52%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5db3bf 0%,#f7f7f7 52%); /* IE10+ */
background: linear-gradient(to bottom,  #5db3bf 0%,#f7f7f7 52%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5db3bf', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}
